<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatiable" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="<%= BASE_URL %>cdn/animate3.7.2.css">
    <script src="<%= BASE_URL %>config.js"></script>
    <title>sa</title>
    <style>
        html, body, #app{
            height:100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <noscript>
        <strong> 本项目需要JavaScript才能正常运行</strong>
    </noscript>
    <div id="app">

    </div>
</body>
</html>